services:
  - type: web
    name: stats-react-app
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: "5000"
      - key: DEBUG
        value: "false"
      - key: ALLOWED_ORIGINS
        value: "*"
      - key: LOG_LEVEL
        value: "INFO"
